# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Directory 
/build/

# VSCode project settings
/.vscode

# Verilator Generated Object Files
/verilator/obj_dir/*

# Quartus Synthesis and Project Files
/synth/
